.header{
  height: 150px;
  background-color: #3F83D8;
}
.container-headline{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-headline{
  color: #ffffff;
  font-size: 31px;
}
.container-list{
  min-height: 11412px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sec-1{
  margin-top: 10px;
  padding: 0px 10px;
}
.hm-headline{
  margin-bottom: 20px;
  font-size: 25px;
  color: #474747
}
.hm-list{
  color: #666666;
  font-size: 16px;
  font-weight: 600;
}
.tabs-container{
  position: relative;
}
.homework::before{
  content: "";
  position: absolute;
  left: -0px;
  width: 1px;
  height: 412px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .2);
}
.nav .nav-link.active {
  background-color: #3F83D8;
}
.nav{
  margin-top: 10px;
}
.nav-link{
  font-weight: 600;
}

@media (max-width: 1199px) {
  
}